# InfluxDB
INFLUXDB_URL=https://influx.dekapu.example.com
INFLUXDB_TOKEN=my-secret-token
INFLUXDB_ORG=dekapu
INFLUXDB_BUCKET=dekapu-log
# INFLUXDB_TIMEOUT_SECONDS=30

# Cloudflare Access (optional)
# CF_ACCESS_CLIENT_ID=
# CF_ACCESS_CLIENT_SECRET=

# VRChat Log
# ex: C:\Users\<UserName>\AppData\LocalLow\VRChat\VRChat

VRCHAT_LOG_DIR=/path/to/vrchat/logs
