# InfluxDB
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=password
INFLUXDB_ORG=dekapu
INFLUXDB_BUCKET=dekapu-log
INFLUXDB_TOKEN=my-secret-token

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=password

# Grafanaの公開ドメイン
GF_SERVER_DOMAIN=dekapu.example.com

# Cloudflare Tunnel
CLOUDFLARE_TUNNEL_TOKEN=your-tunnel-token
